@{
    ViewData["Title"] = "Home Page";
}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
        margin-bottom:50px;
      background-color: #f8f9fa;
    }
    .text-center{
        margin-top:50px;
        padding-bottom:20px;
    }
    .custom-container {
        
      max-width: 1000px;
      margin: 30px auto;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    .unique-header {
      text-align: center;
      color: #007bff;
      margin-bottom: 30px;
    }
    .unique-content {
      font-size: 18px;
      line-height: 1.4;
      padding-left:15px;
    }
    .custom-footer {
      text-align: center;
      margin-top: 30px;
      padding: 10px 0;
      background-color: #f8f9fa;
      border-top: 1px solid #dee2e6;
    }

    .square-boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .square-box {
      width:  300px ;
      height:150px;
      padding: 20px;
      margin:5px;
      border: 1px solid #007bff;
      border-radius: 3px;
      box-sizing: border-box;
      text-align: center;
    }

  </style>
  <title>Your Unique Display Page</title>
</head>
<body>
<div class="text-center">
    <h4 class="display-8 my-6">"Hello there! Step into KiddoShield for a journey of health and happiness."</h4>
</div>
  <div class="custom-container">
    <h1 class="unique-header">Welcome to KiddoShield</h1>
    <div class="unique-content">
      <p>This is the place where your child's well-being takes center stage. At TinyHealth Hub, we are dedicated to providing comprehensive health solutions for your little ones.</p>
      <p>From vaccination schedules to expert consultations, we've got it all covered. Because every smile, every giggle, and every tiny milestone matters.</p>
      <p>Explore our KiddoWell features and embark on a journey of health and happiness with your child.</p>
    </div>
  </div>
<div class="text-center">
<!-- <h4>Quick Links<h4> -->
 <div class="quick-links">
      <h3>Quick Links</h3>
    </div>
        <div class="square-boxes">
      <div class="square-box">
        <h4>vaccination slot</h4>
        <p>Schedule a  slot </p>
        <button type="button" class="btn btn-info">Click Here!</button>
      </div>
      <div class="square-box">
        <h4>Appointment</h4>
        <p>Monthly Appointment</p>
         <button type="button" class="btn btn-info">Click Here!</button>
     
      </div>
      <div class="square-box">
        <h4>Online consult</h4>
        <p> consultation</p>
         <button type="button" class="btn btn-info">Click Here!</button>
      </div>
    </div>
  </div>
</div>
</body>
